.button {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 2.482em;
  height: 2.836em;

  border-radius: 5px;
  cursor: pointer;
}

.button:last-child,
.button:nth-of-type(20) {
  width: 3.988em;
  height: 2.836em;
}
