.board {
  display: grid;
  position: relative;

  gap: 11px;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);

  max-width: 421px;
  margin-bottom: 87px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  font-size: 35px;

  color: #ffffff;
}

.refreshButton {
  position: absolute;

  top: 5px;
  left: calc(100% + 107px);

  height: 25px;
  width: 25px;

  cursor: pointer;
}
