.app {
  display: flex;
  padding: 20px 0;

  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  outline: none;
}

.gratitude {
  font-family: "Roboto";
  font-style: normal;

  font-weight: 800;
  color: #56575e;
}
.gratitude > a:hover {
  text-decoration: none;
}

.gratitude > a:visited {
  color: #33459b;
}

.gratitude > a:hover {
  text-decoration: none;
}
