.app {
  display: flex;

  flex-direction: column;
  align-items: center;

  width: 100%;
  height: 100%;

  outline: none;
}

.gratitude {
  font-family: "Roboto";
  font-style: normal;

  font-weight: 600;
  color: #56575e;
}
.gratitude > a:hover {
  text-decoration: none;
}
